.card {
    width: 12rem;
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    margin: 1rem 1rem;
    padding: 10px;
    border-radius: 5px;
    font-family: "Permanent Marker", cursive;
    background-color: lightgray;
  }
  
  .card-title {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #4c4c4c;
    font-size: .7rem;
  }
.Poster{
  height: 15rem;
  width:auto;
}


/* botão de deletar */
.btn_change {
  background-color: red;
  color:white;
  border:none;
  border-radius: 0.2rem;
  box-shadow: 0 2px 7px rgba(0,0,0,0.12), 0 2px 7px rgba(0,0,0,0.24);
  font-size: 0.8rem;
}

/* altera a cor do botão de deletar quando clica */
.btn_change:focus {     
  background-color:darkred;    
}

/* input*/
input{
  background-color: #ffffff00; /* cor de fundo do input transparente */
  border:none;
  -webkit-appearance: none;
  outline: none;
  align-items: center;
  text-align:center;
}

/* tirando a borda do input quando selecionado */
input:focus{
  border:none;
  -webkit-appearance: none;
}

/* cor da fonte do placeholder */
::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

/* Formulário */
.form-card{
  background-color: darkgreen;
  color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 5px 10px rgba(0,0,0,0.24);
  padding: .7rem;
  border-radius: .5rem;
  margin: 2rem; 
  width:35%;
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.form-card-title{
  background-color: darkgreen;
  color: white;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-container{
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
}